.contianer {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
}

.topBar {
    background-color: rgba(255, 255, 255, 0.233);
}

.centerContent {
    background-color: rgba(255, 255, 255, 0.233);
    /* margin-top: 20px; */
}

header {
    height: 4em;
    display: flex;
    align-items: center;
    background: #6441a5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient( to right, #2a0845, #6441a5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to right, #2a0845, #6441a5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}