.contianer {
    max-width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 40px;
}

.topBar {
    background-color: rgba(255, 255, 255, 0.233);
}

.centerContent {
    background-color: rgba(255, 255, 255, 0.233);
    /* margin-top: 20px; */
}

header {
    height: 20em;
    display: flex;
    align-items: center;
    background: #1c2634;

}

.logo-container{
    position: absolute;
    width: 5em;
    top: 1em;
    left:1em;
}

.logo{
    width:100%;
    height:auto;
}