.modal {
  background: rgba(0, 0, 0, 0.6);
}
.modal-container {
  position: absolute;
  width: 20%;
  background: #ffffff;
  left: 40%;
  top: 30%;
  padding: 20px;
  border-radius: 1em;
  height: 50%;
}
